 @import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  margin: 0;
}

h1, h2, h3, h4 {
  color: #212121;
}

.navpane {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  width: 260px;
  position: fixed;
  left: -280px;
  top: 0;
  height: 100vh;
  z-index: 1;
  background: white;
}

.material-icons {
  font-size: 30px;
}

.navpane ul>li {
  display: block;
  font-size: 18px;
}

.navpane ul {
  padding: 0;
}

.navpane {
  padding: 10px;
}

nav {
  background: #512DA8;
  color: white;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

nav > h3 {
  color: white;
}

nav .logo {
  width: 90%;
  height: auto;
  margin: 0 5% -15% 5%;
}

@media (min-width: 512px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .logo {
    width: 512px;
    margin: 0 5% -15% 5%;
  }
}

@media (min-width: 768px) {
  section {
    display: flex;
  }
  .github {
    border-top: none;
    border-left: 1px solid #BDBDBD;
  }
}

nav .bars {
  position: absolute;
  left: 5px;
  top: 5px;
}

.text-center {
  text-align: center;
}

article {
  padding: 5%;
}

.underline-accent {
  border-bottom: 2px solid #FF5252;
}

.btn {
  text-decoration: none;
  background: #FF5252;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.sentence {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentence > img {
  height: 48px;
  width: auto;
  margin: 24px;
}

.fa-heart {
  color: crimson;
}

footer {
  border-top: 1px solid #BDBDBD;
}

.navpane > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navpane a {
  color: #FF5252;
  text-decoration: none;
}

.navpane i {
  color: #212121;
}

.github {
  border-top: 1px solid #BDBDBD;
}

.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
