@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.box-header {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 2px rgba(255, 255, 255, 0.2), inset 0 2px 5px rgba(255, 255, 255, 0.25), inset 0 -3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 0 50px;
}

.page1 {
  background: url('../images/bg-page1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 512px;
  height: 384px;
  background-image: url('../images/logo.png');
  background-size: contain;
  margin: 0 auto -90px auto;
}

.about {
  height: 100vh;
  display: flex;
  background: white;
  margin-bottom: 400px;
}

.text-center {
  text-align: center;
}

.fa-angle-double-down {
  position: absolute;
  bottom: 5px;
  font-size: 70px;
  color: white;
}

.navpane {
  height: 100vh;
  width: 280px;
  position: fixed;
  z-index: 1;
  right: 100vw;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  background-color: orangered;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

.trigger-pane {
  position: fixed;
  color: white;
  font-size: 70px;
  z-index: 1;
  top: 10px;
  left: 10px;
}

footer {
  min-height: 400px;
  z-index: -1;
  position: fixed;
  bottom: 0;
  color: white;
  background: black;
  width: 100vw;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.spaced {
  padding: 4px;
  border-radius: 2px;
  font-family: monospace;
  font-size: 1.2em;
  color: #f92672;
  background-color: #272822;
}